<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create article</title>
</head>
<body>
        <script>
        var person = prompt("Please enter password");
        if (person == "04038") {
            window.location.href = '/create-art'
        }
        else {
            var war = prompt("НЕ правельний пароль: ")
                if (war == "04038") {
                    window.location.href = '/create-art'
                }else {
                    window.location.href = '/'
                }
        }
    </script>
</body>
</html>